.frontpage-background{
    background-image: url("../images/frontpage-background.jpg");
    background-color: #f0e6ff;
    background-size:cover;
}

.links-container {
    display: flex;
    justify-content: center;
}

a.button {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.5vw;
}

.frontpage-headline {
    color: #f5f5f5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Skyggeeffekt for at give en kant */
}
