body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.content {
    margin-top: 100px;
    text-align: center;
}

.container {
    min-width: 60vw;
    background-color: white;
    padding: 20px;
    margin: auto;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

}

h1, h2 {
    text-align: center;
    font-family: Verdana, sans-serif;

}