<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Velkommen</title>
    <link rel="stylesheet" th:href="@{/css/home-style.css}"/>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{/header :: header}"></div>

<div class="content">
    <div class="container">
        <h1>Velkommen til DrømmeListen!</h1>
        <div class="links-container"> <!-- Container for links, arrangeret side om side -->
            <a th:href="@{/user/login}" class="home-link">Login</a>
            <a th:href="@{/user/register}" class="home-link">Opret Bruger</a>
        </div>
    </div>
</div>

</body>
</html>