<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Velkommen</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/home-style.css}" rel="stylesheet"/>
</head>

<body class="frontpage-background">

<div th:replace="~{/header :: header}"></div>

<div class="content">
    <div class="container transparent-container">
        <h1 class="frontpage-headline"> Velkommen til DrømmeListen!</h1>
        <div class="links-container">
            <a th:href="@{/user/login}" class="home-link">Login</a>
            <a th:href="@{/user/register}" class="home-link">Opret Bruger</a>
        </div>
    </div>
</div>

</body>
</html>