<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Velkommen</title>
    <link th:href="@{/css/welcome-style.css}" rel="stylesheet" >
</head>
<body>
<div th:replace="~{/header :: header}"></div>
<div class="content">
    <div class="container">
        <div class="header">
            <h1>Velkommen <span th:text="${loggedInUser.firstname}"></span></h1>
        </div>

            <div class="button-container">
                <a th:href="@{/wishlist/create}" class="main-button">Opret ønskeliste</a>
            </div>
        <div class="wishlist-section">
            <h2>Mine Ønskelister</h2>
            <table class="wishlist-table">
                <tr>
                    <th>Navn</th>
                    <th>Handlinger</th>
                </tr>
                <tr th:each="wishlist : ${userWishlists}">
                    <td th:text="${wishlist.wishlistName}" class="wishlist-name"></td>
                    <td class="wishlist-buttons">
                        <a th:href="@{'/wishlist/edit/' + ${wishlist.wishlistId}}" class="wishlist-button">Se/rediger</a>
                        <form th:action="@{/setSelectedWishlist}" method="post">
                            <input type="hidden" name="wishlistId" th:value="${wishlist.wishlistId}" />
                            <button type="submit" class="wishlist-button">Tilføj ønsker</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>
