<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Velkommen</title>
    <link th:href="@{/css/welcome-style.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{/header :: header}"></div>

<div class="content">
    <div class="container">
        <h1>Velkommen, <span th:text="${loggedInUser.firstname}"></span></h1>
        <a th:href="@{/wishlist/create}" class="btn">Opret ønskeliste</a>

        <div class="section">
            <h2>Ønskelister</h2>
            <ul>
                <li th:each="wishlist : ${userWishlists}">
                    <div class="buttons">
                        <span th:text="${wishlist.wishlistName}"></span>
                        <a th:href="@{'/wishlist/edit/' + ${wishlist.wishlistId}}" class="btn">Se/rediger</a>
                        <form th:action="@{/setSelectedWishlist}" method="post">
                            <input type="hidden" name="wishlistId" th:value="${wishlist.wishlistId}" />
                            <button type="submit" class="btn">Tilføj ønsker></button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>

        <div class="section">
            <h2>Brugerens oplysninger</h2>
            <p><strong>Fornavn:</strong> <span th:text="${loggedInUser.firstname}"></span></p>
            <p><strong>Efternavn:</strong> <span th:text="${loggedInUser.lastname}"></span></p>
            <p><strong>Brugernavn:</strong> <span th:text="${loggedInUser.username}"></span></p>
            <p><strong>Email:</strong> <span th:text="${loggedInUser.email}"></span></p>
        </div>

        <div class="buttons">
            <a th:href="@{/logout}" class="btn">Log ud</a>
            <a th:href="@{/profile}" class="btn">Se/rediger profil</a>
        </div>
    </div>
</div>
</body>
</html>
