<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tilføj Ønske til Ønskeliste</title>
    <link th:href="@{/css/wishlistItems.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{/header :: header}"></div>

<div class="content">
    <div class="container">
        <h1>Tilføj Ønske til Ønskeliste</h1>
        <hr>
        <div class="wishlist-info">
            <!-- Viser information om ønskelisten -->
            <p><strong>Navn:</strong> <span th:text="${wishlist.wishlistName}">Navn på Ønskeliste</span></p>
            <p><strong>Beskrivelse:</strong> <span th:text="${wishlist.wishlistDescription}">Beskrivelse af Ønskeliste</span></p>
            <p><strong>Deadline Dato:</strong> <span th:text="${#temporals.format(wishlist.wishlistDeadlineDate, 'dd-MM-yyyy')}">Deadline dato for Ønskeliste</span></p>
        </div>

        <div class="buttons">
        <a th:href="@{/wishlist/addItem}" class="btn">Tilføj Ønske</a>
        </div>

        <div class="wishlist-items">
            <h2>Items i Ønskeliste</h2>
            <ul>
                <li th:each="item : ${wishlistItems}">
                    <div class="item-info">
                        <p><strong>Item Navn:</strong> <span th:text="${item.itemName}">Item navn</span></p>
                        <p><strong>Pris:</strong> <span th:text="${item.itemPrice}">Pris</span></p>
                        <p><strong>Antal:</strong> <span th:text="${item.itemQuantity}">Antal</span></p>
                        <p><strong>Reserveret:</strong> <span th:text="${item.itemReservedStatus}">Reserveret</span></p>
                        <p><strong>Reserveret Navn:</strong> <span th:text="${item.itemReservedName}">Reserveret Navn</span></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
