<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tilføj Ønske til Ønskeliste</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/wishlistItems-style.css}" rel="stylesheet">
</head>

<body>
<div th:replace="~{fragments/header.html :: header}"></div>

<div class="content">
    <div class="container">
        <h1 th:text="${wishlist.wishlistName}">Navn på Ønskeliste</h1>

        <div class="wishlist-info">
            <p><strong>Deadline Dato:</strong> <span th:text="${#temporals.format(wishlist.wishlistDeadlineDate, 'dd-MM-yyyy')}">Deadline dato for Ønskeliste</span></p>

            <button class="button button-custom" onclick="copyLink()">Del Ønskeliste</button>
            <script>
                function copyLink() {
                    var linkToCopy = document.getElementById("shareLink").innerText;
                    var tempInput = document.createElement("input");
                    tempInput.value = linkToCopy;
                    document.body.appendChild(tempInput);
                    tempInput.select();
                    document.execCommand("copy");
                    document.body.removeChild(tempInput);
                    alert("Link copied to clipboard: " + linkToCopy);
                }
            </script>
            <p id="shareLink" th:text="${shareLink}" style="display: none;"></p>
        </div>

        <p><strong>Beskrivelse:</strong> <span th:text="${wishlist.wishlistDescription}">Beskrivelse af Ønskeliste</span></p>
        <br> <br> <br>
        <div class="buttons">
            <a class="button button-special" th:href="@{/wishlist/addItem}" >Tilføj Ønske</a>
        </div>

        <div class="wishlist-items">
            <h2>Ønsker i Ønskelisten</h2>
            <table>
                <tr>
                    <th>Item Navn</th>
                    <th>Pris</th>
                    <th>Antal</th>
                    <th>Reservations status</th>

                </tr>
                <tr th:each="item : ${wishlistItems}">
                    <td th:text="${item.itemName}">Item navn</td>
                    <td th:text="${item.itemPrice}">Pris</td>
                    <td th:text="${item.itemQuantity}">Antal</td>
                    <td>
                        <span th:if="${item.itemReservedName != null}" th:text="${item.itemReservedName}"></span>
                        <span th:if="${item.itemReservedName == null}">Ikke reserveret</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>
